<template>
  <div
    class="fixed inset-0 bg-gray-900 bg-opacity-80 text-white p-4 flex items-center justify-center z-50"
  >
    <div class="w-full max-w-md bg-gray-800 rounded-lg p-4 shadow-lg overflow-auto">
      <!-- Slot for custom content -->
      <slot></slot>

      <button
        ref="modalButton"
        @click="() => onClose()"
        class="w-full bg-green-600 hover:bg-green-800 text-white font-bold py-2 px-4 rounded transition-all duration-200"
      >
        {{ buttonLabel }}
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, PropType, ref } from 'vue';

export default defineComponent({
  name: 'RoundModal',
  props: {
    buttonLabel: {
      type: String,
      required: true,
    },
    onClose: {
      type: Function as PropType<() => void>,
      required: true,
    },
  },
  setup() {
    const modalButton = ref<HTMLButtonElement | null>(null);

    onMounted(() => {
      if (modalButton.value) {
        modalButton.value.focus();
      }
    });

    return {
      modalButton,
    };
  },
});
</script>

<style scoped></style>
