<template>
  <div
    class="fixed inset-0 bg-gray-900 bg-opacity-80 text-white p-4 flex items-center justify-center z-50"
  >
    <div class="w-full max-w-md bg-gray-800 rounded-lg p-6 shadow-lg">
      <div class="flex gap-4">
        <button
          ref="closeButton"
          @click="gameStore.toggleSettingsModal"
          class="w-1/2 bg-red-600 hover:bg-red-800 text-white font-bold py-2 px-4 rounded transition-all duration-200"
        >
          Cancel
        </button>

        <button
          ref="newGameButton"
          @click="gameStore.resetGame"
          class="w-1/2 bg-green-600 hover:bg-green-800 text-white font-bold py-2 px-4 rounded transition-all duration-200"
        >
          Restart Game
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref } from 'vue';
import { useGameStore } from '../../stores/gameStore';

export default defineComponent({
  name: 'SettingsModal',
  setup() {
    const gameStore = useGameStore();
    const newGameButton = ref<HTMLButtonElement | null>(null);
    const closeButton = ref<HTMLButtonElement | null>(null);

    onMounted(() => {
      closeButton?.value?.focus();
    });

    return {
      gameStore,
      newGameButton,
      closeButton,
    };
  },
});
</script>

<style scoped></style>
