<template>
  <Modal :title="title" :buttonLabel="buttonLabel" :onClose="onClose">
    <div class="flex flex-col gap-2 mb-4">
      <h4 class="text-lg font-semibold text-center mb-2">Deck Composition</h4>
      <div class="grid grid-cols-5 gap-2">
        <div v-for="(entry, index) in deck" :key="`deck-card-${index}`" class="relative">
          <CardComponent :card="entry.card" />
          <span
            v-if="entry.count > 1"
            class="absolute bottom-0 right-0 text-xs bg-gray-900 text-white rounded-full px-1"
          >
            x{{ entry.count }}
          </span>
        </div>
      </div>
    </div>

    <div class="mb-4">
      <p class="text-sm text-center">{{ instructions }}</p>
      <p v-if="minimumBetMessage" class="text-sm text-center font-bold text-yellow-400 mt-2">
        {{ minimumBetMessage }}
      </p>
    </div>
  </Modal>
</template>

<script lang="ts">
import { defineComponent, computed, ref, watchEffect } from 'vue';
import { useGameStore } from '../../stores/gameStore';
import type { Card } from '../../stores/utils';
import CardComponent from '../CardComponent.vue';
import Modal from './Modal.vue';

export default defineComponent({
  name: 'StartRoundModal',
  components: {
    CardComponent,
    Modal,
  },

  setup() {
    const gameStore = useGameStore();
    const minimumBetMessage = ref('');
    const newMinBet = ref(gameStore.betChips.length > 0 ? gameStore.betChips[0].amount : 0);

    // Check and update minimum bet message
    watchEffect(() => {
      if (newMinBet.value !== gameStore.previousMinBet) {
        if (newMinBet.value > 0) {
          minimumBetMessage.value = `The minimum bet has increased to ${newMinBet.value} gold this round!`;
        }
        gameStore.previousMinBet = newMinBet.value;
      }
    });

    // Computed property for the deck composition
    const deck = computed(() => {
      const cardMap = new Map<number, { card: Card; count: number }>();
      gameStore.deck.forEach((card) => {
        const entry = cardMap.get(card.winValue);
        if (entry) {
          entry.count++;
        } else {
          cardMap.set(card.winValue, { card: { ...card, isFlipped: true }, count: 1 });
        }
      });
      return Array.from(cardMap.values()).sort(
        (a, b) => (b.card.winValue ?? 0) - (a.card.winValue ?? 0),
      );
    });

    // Function to close the modal
    const onClose = () => {
      gameStore.toggleRoundIntroModal();
    };

    return {
      minimumBetMessage,
      deck,
      onClose,
      title: computed(() => `Round ${gameStore.round} Overview`),
      instructions:
        "Study the deck. Bet big when the odds are good, hold back when they're not. Maximize your gold!",
      buttonLabel: 'Start Round',
    };
  },
});
</script>

<style scoped></style>
