<template>
  <div
    class="flex flex-col items-center gap-6 w-full p-6 bg-gradient-to-br from-gray-800 to-gray-900 rounded-lg shadow-2xl"
    :style="{ 'max-height': `${height}vh` }"
  >
    <p class="text-2xl font-bold text-yellow-400 animate-pulse">💰 x {{ gameStore.gold }}</p>

    <div class="w-full mt-3 flex flex-col items-center gap-2">
      <label class="font-semibold text-xl text-white">Bet x 💰 {{ gameStore.betAmount }}</label>
      <div class="flex gap-1">
        <button
          v-for="chip in gameStore.betChips"
          :key="chip.amount"
          @click="gameStore.setBetAmount(chip.amount)"
          :aria-label="`Set bet amount to ${chip.label}`"
          class="p-2 bg-gradient-to-br from-gray-700 to-gray-600 rounded-lg shadow-lg flex items-center justify-center text-white text-l font-bold transform transition-transform duration-300 hover:scale-110 whitespace-pre"
          :class="{
            'ring-4 ring-yellow-500':
              gameStore.betAmount === (chip.amount === -1 ? gameStore.gold : chip.amount),
          }"
        >
          {{ chip.label }}
        </button>
      </div>
    </div>

    <button
      @click="flipAllRemainingCards"
      :disabled="totalBetCost > gameStore.gold"
      class="mt-2 p-2 bg-gray-700 hover:bg-gray-600 text-white text-sm rounded-md transition-colors duration-200"
    >
      Skip to next round cost: {{ totalBetCost }} 💰
    </button>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue';
import { useGameStore } from '../stores/gameStore';

export default defineComponent({
  name: 'BetControls',
  props: {
    height: {
      type: Number,
      required: true,
    },
  },
  setup() {
    const gameStore = useGameStore();

    const flipAllRemainingCards = () => {
      gameStore.deck.forEach(({ id }) => {
        gameStore.flipCard(id);
      }); // Call the action in the store
    };

    const totalBetCost = computed(() => {
      return gameStore.betAmount * gameStore.deck.filter((card) => !card.isFlipped).length;
    });

    return {
      gameStore,
      flipAllRemainingCards, // Updated function name
      totalBetCost,
    };
  },
});
</script>

<style scoped></style>
