<template>
  <div
    class="flex justify-between items-end w-full p-4 bg-gradient-to-br from-gray-800 to-gray-900"
  >
    <div class="flex gap-4" :style="{ 'max-height': `${height}vh` }">
      <button
        @click="gameStore.toggleSettingsModal"
        class="btn bg-blue-600 hover:bg-blue-800 text-white font-bold py-1 px-3 rounded-full transform transition-transform duration-300 shadow-lg"
      >
        <i class="fas fa-cog"></i> New Game
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { useGameStore } from '../stores/gameStore';

export default defineComponent({
  name: 'BottomMenu',
  props: {
    height: {
      type: Number,
      required: true,
    },
  },
  setup() {
    const gameStore = useGameStore();

    return {
      gameStore,
    };
  },
});
</script>

<style scoped></style>
