<template>
  <div
    :class="[
      'w-20 h-32 rounded-lg shadow-md flex items-center justify-center transition-all duration-300 border-4',
      cardDetails.isFlipped && cardDetails.winValue > 0
        ? 'bg-green-400 border-green-800 text-green-800'
        : '',
      cardDetails.isFlipped && cardDetails.winValue === 0
        ? 'bg-gray-300 border-gray-400 text-gray-700'
        : '',
      !cardDetails.isFlipped ? 'bg-gradient-to-br from-gray-700 to-gray-600 text-yellow-400' : '',
    ]"
  >
    <!-- Card Front/Back -->
    <div v-if="!cardDetails.isFlipped" class="text-4xl animate-pulse">?</div>
    <div v-else class="flex flex-col justify-center items-center">
      <span class="text-xl font-semibold">{{
        cardDetails.winValue > 0 ? cardDetails.winValue : '0'
      }}</span>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { useGameStore } from '../stores/gameStore';
import type { Card } from '../stores/utils';

export default defineComponent({
  name: 'CardComponent',
  props: {
    cardId: {
      type: [Number, Object] as PropType<number | Card>,
      required: false,
    },
    card: {
      type: Object as PropType<Card>,
      required: false,
    },
  },
  computed: {
    cardDetails() {
      if (this.card) {
        return this.card;
      }
      const gameStore = useGameStore();
      const foundCard = gameStore.deck.find((card: Card) => card.id === this.cardId);
      if (!foundCard) {
        console.error(`Card with ID ${this.cardId} not found in deck.`);
        return {
          id: this.cardId || -1,
          isFlipped: false,
          winValue: 0,
        };
      }
      return foundCard;
    },
  },
});
</script>

<style scoped></style>
