<template>
  <div
    class="w-full p-4 flex flex-col items-center justify-between"
    :style="{ 'max-height': `${height}%` }"
  >
    <!-- Cards in play area -->
    <div class="text-white mb-4">Remaining Cards in Deck: {{ remainingDeckCount }}</div>
    <div class="grid grid-cols-5 gap-4 w-full max-w-xl">
      <div
        v-for="(card, index) in inPlayCards"
        :key="card.id"
        :data-testid="card.id"
        class="relative w-full flex items-center justify-center"
      >
        <button
          v-if="card"
          :disabled="card.isFlipped"
          :style="{
            transition: 'transform 1s ease-in-out',
          }"
          class="w-full h-full rounded-lg shadow-md flex items-center justify-center transform transition-transform duration-300 hover:scale-105 focus:outline-none focus:ring-4 focus:ring-blue-500"
          @click="handleCardClick(card.id, index)"
        >
          <CardComponent :cardId="card.id" />
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, watch, computed } from 'vue';
import { useGameStore } from '../stores/gameStore';
import CardComponent from './CardComponent.vue';
import { Card } from '../stores/utils';

export default defineComponent({
  name: 'GameBoard',
  props: {
    height: {
      type: Number,
      required: true,
    },
  },
  components: {
    CardComponent,
  },
  setup() {
    const gameStore = useGameStore();
    const timeouts: NodeJS.Timeout[] = [];

    const inPlayCards = ref(gameStore.deck.slice(0, 10));
    const remainingDeckCount = computed(
      () =>
        gameStore.deck.filter((card) => !card.isFlipped).length -
        inPlayCards.value.filter((card) => !card.isFlipped).length,
    );

    const resetDeckState = () => {
      // Clear all timeouts when resetting the deck state
      timeouts.forEach((timeout) => clearTimeout(timeout));
      timeouts.length = 0;
      inPlayCards.value = gameStore.deck.slice(0, 10);
    };

    const handleCardClick = (cardId: number, inPlayCardsIndex) => {
      gameStore.flipCard(cardId);
      if (remainingDeckCount.value > 0) {
        const timeout: NodeJS.Timeout = setTimeout(() => {
          replaceFlippedCard(inPlayCardsIndex);
        }, 1000);
        timeouts.push(timeout);
      }
    };

    const replaceFlippedCard = (inPlayCardsIndex: number) => {
      const nextCard = gameStore.deck.filter(
        (card) => !card.isFlipped && !inPlayCards.value.includes(card),
      )[0];
      if (nextCard) {
        inPlayCards.value[inPlayCardsIndex] = nextCard;
      } else {
        console.error('No more cards in the deck to replace the flipped card');
      }
    };

    watch(
      () => [gameStore.round, gameStore.gameId],
      () => {
        resetDeckState();
      },
    );

    return {
      inPlayCards,
      handleCardClick,
      remainingDeckCount,
    };
  },
});
</script>

<style scoped>
.flipped {
  transition: transform 0.6s;
  transform: rotateY(180deg);
  z-index: 1;
}
.moved {
  transition: transform 2s ease-in-out;
  transform: translateY(20px);
  z-index: 0;
}
.card.animate-deal {
  animation: deal 0.5s ease-in-out forwards;
}

@keyframes deal {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.perspective-1000 {
  perspective: 1000px;
}
.opacity-80 {
  opacity: 0.8;
}
</style>
