<template>
  <div
    class="w-full flex flex-row justify-between items-center bg-gray-800 p-2 rounded-md shadow-md"
    :style="{ 'max-height': `${height}vh` }"
  >
    <div class="flex flex-col items-center">
      <span class="text-sm text-white">🏆 Round:</span>
      <span class="text-lg font-semibold text-blue-300">
        {{ gameStore.round }}
      </span>
    </div>

    <div class="flex flex-col items-center">
      <span class="text-sm text-white">🎯 Highest This Game:</span>
      <span class="text-lg font-semibold text-green-300">
        {{ gameStore.highestScoreThisGame }}
      </span>
    </div>

    <div class="flex flex-col items-center">
      <span class="text-sm text-white">🏅 Personal Best:</span>
      <span class="text-lg font-semibold text-yellow-300">
        {{ gameStore.personalHighestScore }}
      </span>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { useGameStore } from '../stores/gameStore';

export default defineComponent({
  name: 'GameInfo',
  props: {
    height: {
      type: Number,
      required: true,
    },
  },
  setup() {
    const gameStore = useGameStore();

    return {
      gameStore,
    };
  },
});
</script>

<style scoped></style>
