<script lang="ts">
import { useGameStore } from './stores/gameStore';
import GameBoard from './components/GameBoard.vue';
import GameInfo from './components/GameInfo.vue';
import BetControls from './components/BetControls.vue';
import SettingsModal from './components/modals/SettingsModal.vue';
import StartRoundModal from './components/modals/StartRoundModal.vue';
import BottomMenu from './components/BottomMenu.vue';
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'CardBoardContainer',
  components: {
    GameBoard,
    GameInfo,
    BetControls,
    SettingsModal,
    BottomMenu,
    StartRoundModal,
  },
  setup() {
    const gameStore = useGameStore();
    gameStore.loadFromLocalStorage();

    return {
      gameStore,
    };
  },
});
</script>
<template>
  <div
    class="flex flex-col items-center justify-between min-h-screen bg-gray-900 text-white relative"
  >
    <game-info :height="7" />
    <game-board :height="43" />
    <bet-controls :height="45" />
    <bottom-menu :height="5" />

    <div
      v-if="gameStore.showRoundIntroModal || gameStore.showSettingsModal"
      class="fixed inset-0 bg-black bg-opacity-50 z-40 transition-opacity duration-300 ease-in-out"
    ></div>

    <start-round-modal
      v-if="gameStore.showRoundIntroModal"
      class="z-50 transform transition duration-300 ease-in-out"
    />

    <settings-modal
      v-if="gameStore.showSettingsModal"
      class="z-50 transform transition duration-300 ease-in-out"
    />
  </div>
</template>

<style scoped></style>
